# Python cache and compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

.ipynb_checkpoints/
ipython_config.py
profile_default/

# Mac OS
**/.DS_Store

# VSCode workspace
*.code-workspace
.vscode

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.run.xml